<section class="artistpage">
  <div class="search menu">
    <!--<h1>Countries of Europe</h1>-->
    <label>Search: </label>
    <input ng-model="query" placeholder="Search all countries" autofocus>

    <label class="formgroup">Filter:
      <select ng-model="countryOrder">
        <option value="name">Name</option>
        <option value="size">Size</option>
        <option value="capital">Capital</option>
        <!-- <option value="reknown">Reknown</option> -->
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      Ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      Descending
    </label>
   
  </div>
  <ul class="artistlist">
    <li ng-animate="'animate'" class="artist cf" ng-repeat="item in countries | filter: query | orderBy: countryOrder:direction">
      <a href="#/details/{{countries.indexOf(item)}}">
        <img ng-src="images/{{item.shortname}}_flag.png" alt="{{item.name}} Flag">
        <div class="info">
          <h2>{{item.name}}</h2>
          <h3>{{item.capital}}</h3>
        </div>
      </a>
    </li>
  </ul>
</section>
